{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Digital Paper</title>

    <!-- CSS -->
    <link rel='stylesheet' type="text/css" href='/static/css/base.css'>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        {{template "header_with_image" .}}
    </header>

    {{template "navigation_bar" .}}

    <main>
        {{template "main" .}}
    </main>

    <footer>Created by Zvonimir Pervan</footer>
</body>

</html>
{{end}}